/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-pink);
$my-accent: mat-palette($mat-blue-gray, A200, A300, A400);
$my-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

@include angular-material-theme($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
